<div class="contenedor">
  <h2>🏧 Fila del Cajero Automático (Estructura de Cola / Queue)</h2>

  <!-- Formulario -->
  <div class="card formulario">
    <h3>👤 Agregar Persona a la Fila</h3>
    <div class="grid-form">
      <input type="text" placeholder="Nombre completo" [(ngModel)]="nuevoNombre">
      <input type="number" placeholder="Monto a retirar ($)" [(ngModel)]="nuevoMonto">
    </div>
    <div class="acciones">
      <button class="btn-enqueue" (click)="encolarPersona()">🚶‍♂️ Llagar a la Fila (Enqueue)</button>
      <button class="btn-dequeue" (click)="atenderPersona()">🏧 Atender en Cajero (Dequeue)</button>
    </div>
  </div>

  <!-- Vista Visual de la Cola -->
  <div class="card visualizacion">
    <h3>🏧 Estado Actual de la Fila (Orden de Llegada FIFO)</h3>
    <div class="cajero-box">
      <span>🏧 CAJERO AUTOMÁTICO</span>
    </div>

    <div class="cola-container">
      @for (persona of cola.obtenerArreglo(); track persona.nombre; let i = $index) {
        <div class="item-persona" [class.primer-lugar]="i === 0">
          <span class="tag-turno" *ngIf="i === 0">SIGUIENTE EN ATENDER</span>
          <span class="tag-posicion">Turno #{{ i + 1 }}</span>
          <h4>{{ persona.nombre }}</h4>
          <p><strong>Monto Retiro:</strong> ${{ persona.montoRetiro.toLocaleString('es-CO') }}</p>
          <small>🕒 <strong>Llegada:</strong> {{ persona.fechaLlegada | date:'mediumTime' }}</small>
        </div>
      }
      <p *ngIf="cola.obtenerArreglo().length === 0" class="vacio">No hay personas en la fila del cajero.</p>
    </div>
  </div>
</div>